<form method="POST" action="https://dev.staticman.net/v3/entry/github/bharg/bharg.github.io/master">
    <input name="options[redirect]" type="hidden" value="https://bharg.github.io">
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <h3> Leave a constructive comment </h3>
    <label>Name</label> <input name="fields[name]" type="text"> <br>
    <label>E-mail</label> <input name="fields[email]" type="email"> <br>
    <label>Message</label> <textarea name="fields[message]"></textarea>
    
    <button type="submit">Go!</button>
  </form>